{{- if .Values.statusUpdater.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: fake-status-updater
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
      - patch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - update
      - patch
      - create
      - list
      - delete
  - apiGroups:
      - scheduling.run.ai
    resources:
      - podgroups
    verbs:
      - get
  - apiGroups:
      - resource.k8s.io
    resources:
      - resourceclaims
    verbs:
      - get
      - list
      - watch
{{- end -}}