apiVersion: apps/v1
kind: Deployment
metadata:
  name: status-updater
  annotations:
    checksum/topology: {{ include (print $.Template.BasePath "/topology-cm.yml") . | sha256sum }}
  labels:
    app: status-updater
spec:
  selector:
    matchLabels:
      app: status-updater
      component: status-updater
  replicas: 1
  template:
    metadata:
      annotations:
        checksum/topology: {{ include (print $.Template.BasePath "/topology-cm.yml") . | sha256sum }}
      labels:
        app: status-updater
        component: status-updater
    spec:
      containers:
        - name: status-updater
          image: {{ include "fake-gpu-operator.fullImageName" (dict "global" .Values.global "component" .Values.statusUpdater.image "chart" .Chart) }}
          imagePullPolicy: {{ include "fake-gpu-operator.imagePullPolicy" (dict "global" .Values.global "component" .Values.statusUpdater.image) }}
          resources:
            {{- toYaml .Values.statusUpdater.resources | nindent 12 }}
          env:
            - name: TOPOLOGY_CM_NAME
              value: topology
            - name: TOPOLOGY_CM_NAMESPACE
              value: "{{ .Release.Namespace }}"
            - name: FAKE_GPU_OPERATOR_NAMESPACE
              value: "{{ .Release.Namespace }}"
            - name: RESOURCE_RESERVATION_NAMESPACE
              value: "{{ .Values.environment.resourceReservationNamespace }}"
      restartPolicy: Always
      serviceAccountName: status-updater
      imagePullSecrets:
        - name: gcr-secret
