apiVersion: apps/v1
kind: Deployment
metadata:
  name: status-updater
  annotations:
    checksum/topology: {{ include (print $.Template.BasePath "/topology-cm.yml") . | sha256sum }}
  labels:
    app: status-updater
spec:
  selector:
    matchLabels:
      app: status-updater
      component: status-updater
  replicas: 1
  template:
    metadata:
      annotations:
        checksum/topology: {{ include (print $.Template.BasePath "/topology-cm.yml") . | sha256sum }}
      labels:
        app: status-updater
        component: status-updater
    spec:
      containers:
        - name: status-updater
          image: "{{ .Values.statusUpdater.image.repository }}:{{ .Values.statusUpdater.image.tag }}"
          imagePullPolicy: "{{ .Values.statusUpdater.image.pullPolicy }}"
          resources:
            {{- toYaml .Values.statusUpdater.resources | nindent 12 }}
          env:
            - name: TOPOLOGY_CM_NAME
              value: topology
            - name: TOPOLOGY_CM_NAMESPACE
              value: "{{ .Release.Namespace }}"
            - name: FAKE_GPU_OPERATOR_NAMESPACE
              value: "{{ .Release.Namespace }}"
      restartPolicy: Always
      serviceAccountName: status-updater
      imagePullSecrets:
        - name: gcr-secret
