environment:
  openshift: false
  fakeCSVVersion: 25.10.0
  resourceReservationNamespace: runai-reservation

global:
  image:
    pullPolicy: IfNotPresent
    repository: ghcr.io/run-ai/fake-gpu-operator
    tag: latest

devicePlugin:
  image:
    pullPolicy: Always
    name: device-plugin
    # services can define a repository to over take the global setting
    # repository: localhost:5000
    tag: ""
  resources: 
    requests:
      cpu: "100m"
      memory: "100Mi"
    limits:
      cpu: "200m"
      memory: "200Mi"

statusUpdater:
  image:
    pullPolicy: Always
    name: status-updater
    tag: ""
  resources: 
    requests:
      cpu: "200m"
      memory: "200Mi"
    limits:
      cpu: "400m"
      memory: "400Mi"

topologyServer:
  image:
    pullPolicy: Always
    name: topology-server
    tag: ""
  resources: 
    requests:
      cpu: "100m"
      memory: "100Mi"
    limits:
      cpu: "200m"
      memory: "200Mi"

statusExporter:
  image:
    pullPolicy: Always
    name: status-exporter
    tag: ""
  resources: 
    requests:
      cpu: "100m"
      memory: "100Mi"
    limits:
      cpu: "200m"
      memory: "200Mi"
  topologyMaxExportInterval: 10s

kwokGpuDevicePlugin:
  image:
    pullPolicy: Always
    name: kwok-gpu-device-plugin
    tag: ""
  resources: 
    requests:
      cpu: "100m"
      memory: "200Mi"
    limits:
      cpu: "200m"
      memory: "400Mi"

migFaker:
  image:
    pullPolicy: Always
    name: mig-faker
    tag: ""

ubuntu:
  image:
    repository: "ubuntu"
    tag: "24.04"

topology:
  # nodePools is a map of node pool name to node pool configuration.
  # Nodes are assigned to node pools based on the node pool label's value (key is configurable via nodePoolLabelKey).
  # 
  # For example, nodes that have the label "run.ai/simulated-gpu-node-pool: default"
  # will be assigned to the "default" node pool.
  nodePools:
    default:
      gpuProduct: Tesla-K80
      gpuCount: 2
      gpuMemory: 11441
  nodePoolLabelKey: run.ai/simulated-gpu-node-pool
  migStrategy: mixed
