apiVersion: apps/v1
kind: Deployment
metadata:
  name: topology-server

  labels:
    app: topology-server
spec:
  selector:
    matchLabels:
      app: topology-server
      component: topology-server
  replicas: 1
  template:
    metadata:
      labels:
        app: topology-server
        component: topology-server
    spec:
      containers:
        - name: topology-server
          image: {{ include "fake-gpu-operator.fullImageName" (dict "global" .Values.global "component" .Values.topologyServer.image "chart" .Chart) }}
          imagePullPolicy: {{ include "fake-gpu-operator.imagePullPolicy" (dict "global" .Values.global "component" .Values.topologyServer.image) }}
          resources:
            {{- toYaml .Values.topologyServer.resources | nindent 12 }}
          env:
            - name: TOPOLOGY_CM_NAME
              value: topology
            - name: TOPOLOGY_CM_NAMESPACE
              value: "{{ .Release.Namespace }}"
          ports:
            - name: http
              containerPort: 8080
      restartPolicy: Always
      serviceAccountName: topology-server
      imagePullSecrets:
        - name: gcr-secret
