# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0

kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
  labels:
    run.ai/simulated-gpu-node-pool: default
- role: worker
  labels:
    run.ai/simulated-gpu-node-pool: default
- role: worker
  labels:
    run.ai/simulated-gpu-node-pool: default
- role: worker
  labels:
    run.ai/simulated-gpu-node-pool: default
