
on:
#  workflow_dispatch:
  push:
    branches-ignore:
      - master
      - main
      - develop
name: Verify Existance of Jira Ticket, Design and Test Plan (New)
jobs:
  build:
    name: Job - Verify Existance of Jira Ticket, Design and Test Plan (New)
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Login
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: https://runai.atlassian.net/
          JIRA_USER_EMAIL: jira-bot@run.ai
          JIRA_API_TOKEN: ${{ secrets.JIRA_SECRET }}
      - name: Find Jira ticket in branch name
        id: ticket
        uses: run-ai/gajira-find-issue-key@master
        with:
          from: branch
      - name: Verify Jira ticket was found
        run: |
          if [ -z ${{steps.ticket.outputs.issue}} ]; then
            echo "failed to find jira ticket in branch name"
            exit 1
          else
            echo "found jira ticket: ${{steps.ticket.outputs.issue}}"
          fi